.btn-app-store{
    background: black;
	color: white;
	position: relative;
	height: 60px;
	padding-left: 50px;
	padding-right: 20px;
    border-radius:5px!important;
    -webkit-border-radius:5px!important;
}
.btn-app-store i{
	font-size: 40px;
	position: absolute;
	left: 10px;
    top:20px;

}
.btn-app-store .small{
	display: block;
	font-size: 11px;
	line-height: 11px;
	margin-bottom: 2px;
    margin-top: 5px;
    
}
.btn-app-store .big{
	display: block;
	text-align: left;
	font-size: 20px;
	line-height: 20px;
    
}
.btn-app-store img{
	position: absolute;
	left: 0px;
    top:5px;
}

